
<h1><%= @task.title%></h1>
<p><%= @task.details %></p>

<%= link_to "Back to list", index_path %>
<%= link_to "Edit", edit_task_path %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
